@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold-webfont.eot');
    src: url('../fonts/gilroyextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff'),
         url('../fonts/gilroyextrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroyextrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight-webfont.eot');
    src: url('../fonts/gilroylight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff'),
         url('../fonts/gilroylight-webfont.ttf') format('truetype'),
         url('../fonts/gilroylight-webfont.svg#gilroylight') format('svg');
    font-weight: lighter;
    font-style: normal;
}
* {
  outline: none; /*yбрать*/
}
body {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
.list {
  list-style: none;
}
.display-none {
  display: none;
}
.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-btn {
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 3.6px;
  cursor: pointer;
  color: #000000;
  text-transform: uppercase;
  background: #f0c52e;
  background: linear-gradient(to bottom, transparent, transparent 40%, #f0c52e 40%,#f0c52e 60%,transparent 60%);
  border: none;
}
.main-btn:hover {
  background: #f0c52e;
}
.main-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*header & footer*/
.logo {
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
}
page-header-logo {
  display: inline;
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.action-list {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: lighter;
}
.action:hover {
  opacity: 0.6;
}
.action:active {
  opacity: 0.3;
}
.page-nav-list {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.nav-btn:hover {
  opacity: 0.6;
}
.nav-btn:active {
  opacity: 0.3;
}

/*header*/
.search-form {
  font-size: 0;
}
.search-form-input {
  font-size: 15px;
  line-height: 2;
  opacity: 0.3;
  border: none;
}
.search-form-input:hover {
  opacity: 0.6;
}
.search-form-input:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;
}
.search-form-input:focus + .search-form-button,
.search-form-button:active {
  display: inline-block;
  font-size: 15px;
  line-height: 2;
  background: none;
  border: 2px solid black;
}
.search-form-input:focus + .search-form-button:hover {
  background: #000000;
  color: #ffffff;
}
.search-form-button:active {
  background: #000000;
  color: rgba(255,255,255, 0.3);
}
.category-list-trigger:hover + .category-list,
.category-list:hover {
  position: absolute;
  display: block;
  background: #f7e296;
}
.category-list {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: lighter;
  text-transform: none;
}
.category:hover {
  opacity: 0.6;
}
.category:active {
  opacity: 0.3;
}

/*main index*/
.slider {
  background-color: lightcyan; /*yбрать*/
}
.item-slide-number {
  font-size: 179.2px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
}
.item-slide-header {
  font-size: 47px;
  font-weight: bold;
  line-height: 1.192;
}
.item-slide-short-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #464646;
  line-height: 2;
}
.item-slide-features {
  border-collapse: collapse;
  text-align: left;
}
.feature-data {
  font-size: 36px;
  line-height: 1.333;
  font-weight: lighter;
}
.feature-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.538;
  font-weight: lighter;
  color: #464646;
}
.change-slide-radio {
  cursor: pointer;
}
.slide-btn:checked + label, /*cтиль для выбранного радио*/
.slide-btn[checked] + label { /*стиль для радио отмеченного атрибутом*/
  background: green; /*убрать*/
}
.slide-btn:not(:checked) + label { /*стиль для не выбранного радио */
  background: none;
}
.slide1-btn:checked ~ .item-slide-1 { /*отображаем связанный с выбранным радио блок */
  display: block;
}
.slide2-btn:checked ~ .item-slide-2 {
  display: block;
}
.slide3-btn:checked ~ .item-slide-3 {
  display: block;
}
.slide1-btn:not(:checked) ~ .item-slide-1 { /*прячем связанный с не выбранным радио блок */
  display: none;
}
.slide2-btn:not(:checked) ~ .item-slide-2 {
  display: none;
}
.slide3-btn:not(:checked) ~ .item-slide-3 {
  display: none; /*убрать*/
}
.category-list-main-item {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.333;
}
.category-list-main-img {
  background: rgba(240, 197, 46, 0.5);
}
.category-list-main-item:hover .category-list-main-img {
  background: rgba(240, 197, 46, 1);
}
.category-list-main-item:active {
  opacity: 0.3;
}



/*footer*/
.page-footer {
  background: #464646;
}
.page-footer-logo {
  color: #ffc600; /*rgb(255, 198, 0)*/
}
.page-footer-action {
  color: #ffc600;
}
.address,
.phone {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
}
.footer-nav {
  color: #ffffff;
}
.social-btn {
  opacity: 0.3;
}
.social-btn:hover {
  opacity: 0.6;
}
.social-btn:active {
  opacity: 0.1;
}
.htmlacademy-logo:hover {
  opacity: 0.6;
}
.htmlacademy-logo:active {
  opacity: 0.3;
}