@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold-webfont.eot');
  src: url('../fonts/gilroyextrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
    url('../fonts/gilroyextrabold-webfont.woff') format('woff'),
    url('../fonts/gilroyextrabold-webfont.ttf') format('truetype'),
    url('../fonts/gilroyextrabold-webfont.svg#gilroyextrabold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight-webfont.eot');
  src: url('../fonts/gilroylight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroylight-webfont.woff2') format('woff2'),
    url('../fonts/gilroylight-webfont.woff') format('woff'),
    url('../fonts/gilroylight-webfont.ttf') format('truetype'),
    url('../fonts/gilroylight-webfont.svg#gilroylight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

body {
  position: relative;
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-weight: bold;
  background: #ffffff;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  min-width: 1160px;
}
a {
  text-decoration: none;
  color: #000000;
}
.action:hover {
  opacity: 0.6;
}
.action:active {
  opacity: 0.3;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.display-none {
  display: none;
}
.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-btn {
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 3.6px;
  cursor: pointer;
  color: #000000;
  text-transform: uppercase;
  background: #f0c52e;
  background: linear-gradient(to bottom, transparent, transparent 40%, #f0c52e 40%,#f0c52e 60%,transparent 60%);
  border: none;
}
.main-btn:hover {
  background: #f0c52e;
}
.main-btn:active {
  color: rgba(0, 0, 0, 0.3);
}
.modal-close-btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url('../img/index/modal-close.svg') no-repeat;
  background-size: 55px 55px;
  font-size: 0;
  opacity: 0.5;
}
.modal-close-btn:hover {
  opacity: 1;
}
.modal-close-btn:active {
  opacity: 0.3;
}

/*page-header*/
.page-header {
  margin-top: 40px;
  background: #f7e296;
  padding-left: 60px;
  padding-right: 61px;
}
.page-header-logo {
  position: relative;
  bottom: 24px;
  margin: 0;
  margin-left: -2px;
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.header-actions {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: lighter;
}
.search-form {
  font-size: 0;
}
.search-form-input {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 2;
  background: none;
  opacity: 0.3;
  border: none;
}
.search-form-input:focus {
  margin-bottom: -2px;
  opacity: 1;
  border-bottom: 2px solid #000000;
}
.search-form-button {
  position: absolute;
  padding: 0;
  font-size: 15px;
  line-height: 2;
  background: none;
  border: 2px solid black;
}
.search-form-button:hover, 
.search-form-button:focus {
  background: #000000;
  color: #ffffff;
}
.search-form-button:active {
  background: #000000;
  color: rgba(255,255,255, 0.3);
}
.search-form-input:focus + .search-form-button,
.search-form-button:hover,
.search-form-button:focus,
.search-form-button:active {
  display:inline-block;
}
.exit-profile {
  opacity: 0.3;
}

/*page-nav*/
.page-nav-list {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  font-size: 0;
}
.nav-btn {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-right: -3.6px;
}
.nav-btn:hover {
  opacity: 0.6;
}
.nav-btn:active {
  opacity: 0.3;
}
.category-list-trigger:hover .category-list {
  position: absolute;
  display: flex;
}
.category-list {
  justify-content: flex-start;
  width: 1100px;
  min-height: 130px;
  margin-top: 30px;
  margin-left: -60px;
  padding-left: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 2.4;
  font-weight: lighter;
  text-transform: none;
  background: #f7e296;
}
.category-list ul {
  display: flex;
  flex-direction: column;
}
.category:hover {
  opacity: 0.6;
}
.category:active {
  opacity: 0.3;
}


/*main index*/


/*items slider*/
.slider {
    background: #f7e296;
}
.item-slide {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.item-slide figcaption {
  width: 560px;
  min-width: 560px;
  margin-right: 0;
}
.item-slide-number {
  margin: 0;
  font-size: 179.2px;
  color: #ffffff;
  line-height: 1;
}
.item-slide-header {
  margin: 0;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.192;
}
.item-slide-short-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #464646;
  line-height: 2;
}
.item-slide-features {
  border-collapse: collapse;
  text-align: left;
}
.feature-data {
  font-size: 36px;
  line-height: 1.333;
  font-weight: lighter;
}
.feature-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.538;
  font-weight: lighter;
  color: #464646;
}
.radio-btn {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  background: rgba(70, 70, 70, 0.5);
  background: url('../img/index/slider/slider-button-empty.svg') no-repeat;
  background-size: 12px 12px;
}
.item-slide-btn:checked + .radio-btn, /*cтиль для выбранного радио*/
.item-slide-btn[checked]:checked + .radio-btn { /*стиль для радио отмеченного атрибутом*/
  background: rgba(70, 70, 70, 1);
  background: url('../img/index/slider/slider-button.svg') no-repeat;
  background-size: 12px 12px;
}
.item-slide-btn:focus + .radio-btn {
  outline: 2px dashed rgba(70, 70, 70, 0.3);
  outline-offset: 3px;
}

.item-1-btn:checked ~ .item-1-slide,
.item-2-btn:checked ~ .item-2-slide,
.item-3-btn:checked ~ .item-3-slide { /*отображаем связанный с выбранным радио блок */
  display: flex;
}
.item-1-btn:not(:checked) ~ .item-1-slide,
.item-2-btn:not(:checked) ~ .item-2-slide,
.item-3-btn:not(:checked) ~ .item-3-slide { /*прячем связанный с не выбранным радио блок */
  display: none;
}

/*categories*/
.category-list-main {
  display: flex;
  justify-content: space-between;
}
.category-list-main-item {
  width: 160px;
  margin: 0;
  margin-top: 106px;
  font-size: 18px;
  line-height: 1.333;
}
.category-list-main-img {
  background: rgba(240, 197, 46, 0.5);
}
.category-list-main-item:hover .category-list-main-img {
  background: rgba(240, 197, 46, 1);
}
.category-list-main-item:active {
  opacity: 0.3;
}

/*service slider*/
.services {
  display: flex;
  justify-content: space-between;
  background: #e5e5e5;
  box-shadow: 1000px 0 #e5e5e5,
    -1000px 0 #e5e5e5;
}
.services-controls {
  display: flex;
  flex-direction: column;
  min-width: 277px;
  margin-top: 60px;
  border-right: 7px solid black;
}
.change-slide-radio {
  width: 160px;
}
#delivery-btn:checked ~ .services-controls label[for='delivery-btn'],
#warranty-btn:checked ~ .services-controls label[for='warranty-btn'],
#credit-btn:checked ~ .services-controls label[for='credit-btn'] {
  background: #000000;
  color: #f7e184;
}
.delivery-btn:checked ~ .delivery-slide,
.warranty-btn:checked ~ .warranty-slide,
.credit-btn:checked ~ .credit-slide {
  display: flex;
}
.services-slide {
  flex-direction: column;
  min-width: 876px;
}
.services-slide h2 {
  font-size: 47px;
  line-height: 1.021;
}
.services-slide p {
  width: 437.25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: lighter;
  color: #464646;
}
.delivery-slide {
  background: url('../img/index/services/delivery.svg') no-repeat 100% 50%/136px 164px;
}
.warranty-slide {
  background: url('../img/index/services/warranty.svg') no-repeat 100% 50%/175px 194px;
}
.credit-slide {
  background: url('../img/index/services/credit.svg') no-repeat 100% 50%/156px 196px;
}
/*logotypes*/
.logotypes {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}
.brand-logo {
  display:inline-block;
  height: 100px;
  width: 200px;
  background-size: 200px 100px;
}
.dji-href {
  background-image: url('../img/index/logos/dji-1.png');
}
.dji-href:hover {
  background-image: url('../img/index/logos/dji.png');
}
.spgadgets-href {
  background-image: url('../img/index/logos/sp_gadgets-1.png');
}
.spgadgets-href:hover {
  background-image: url('../img/index/logos/sp_gadgets.png');
}
.gopro-href {
  background-image: url('../img/index/logos/gopro-1.png');
}
.gopro-href:hover {
  background-image: url('../img/index/logos/gopro.png');
}
.vive-href {
  background-image: url('../img/index/logos/vive-1.png');
}
.vive-href:hover {
  background-image: url('../img/index/logos/vive.png');
}

/*info*/
.info {
  display: flex;
  justify-content: space-between;
}
.info section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us {
  flex-basis: 464px;
}
.contacts {
  flex-basis: 560px;
}
.info-btn {
  align-self: flex-start;
  width: 260px;
}
.about-us h2,
.contacts h2 {
  font-size: 47px;
  line-height: 1.021;
}
.about-us p,
.contacts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: lighter;
  color: #464646;
}
.large-map-btn:focus + .large-map-radio {
  outline: 2px dashed rgba(70, 70, 70, 0.3);
  outline-offset: 3px;
}
.large-map-btn:checked ~ .large-map {
  display: block;
}
.large-map-close-btn:checked ~ .large-map {
  display: none;
}
.large-map {
  position: fixed;
  top: 15%;
  left: 20%;
}
.about-us-list {
  font-size: 16px;
  line-height: 2.5;
  font-weight: bold;
  color: #e5e5e5;
  list-style: circle;
}
.about-us-list span {
  color: #000000;
}

/*write-us-form*/
.write-us-btn:focus + .write-us-radio {
  outline: 2px dashed rgba(70, 70, 70, 0.3);
  outline-offset: 3px;
}
.write-us-btn:checked ~ .write-us-form {
  display: block;
}
.write-us-form {
  background: #ffffff;
  position: fixed;
  width: 960px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.333;
}
.write-us-field {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.285;
  color: rgba(70, 70, 70, 0.5);
  background: rgba(229, 229, 220, 0.5);
  border: none;
}
.write-us-field:hover {
  background: rgba(229, 229, 220, 0.8);
}
.write-us-field:focus {
  color: rgb(70, 70, 70);
  background: none;
  outline: 3px solid #f0c52e;
}
.write-us-submit:active ~ .write-us-field:invalid {
  position: absolute;
  color: rgba(70, 70, 70, 0.4);
  background: rgba(237, 181, 181, 0.5);
}
.write-us-close-btn {
  position: absolute;
}
.write-us-close-btn:checked ~ .write-us-form {
  display: none;
}

/*main selfie-monopods catalogue*/

/*header-block*/
.selfie-monopods-header-block {
  padding-left: 60px;
}
.selfie-monopods-header {
  font-size: 47px;
  font-weight: bold;
  line-height: 1.021;
}
.location-tracker-list {
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.714;
}
.location-tracker-list li {
  display: inline-block;
}
.location-tracker-item {
  color: rgba(0, 0, 0, 0.3);
}
.location-tracker-separator {
  width: 4px;
  height: 7px;
  background: url('../img/catalogue/nav-arrow.svg') no-repeat;
}

.catalogue-div {
  display: flex;
}
/*filter*/
.catalogue-filter {
  background: #efefef;
  flex-basis: 468px;
}
.catalogue-filter-header {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 3.2px;
  background: #dcdcdc;
}
.filter-fieldset {
  border: none;
  border-top: 2px solid #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 2.857;
}
.fieldset-header {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.333;
}
.filter-range:hover {
  cursor: pointer;
}
.filter-checkbox:focus + .filter-checkbox-btn {
  outline: 2px dashed rgba(70, 70, 70, 0.3);
  outline-offset: 3px; 
}
.filter-radio:focus + .filter-radio-btn {
  outline: 2px dashed rgba(70, 70, 70, 0.3);
  outline-offset: 3px;
}
.filter-checkbox-btn::before {
  content:'';
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url('../img/catalogue/filter/checkbox-off.svg');
  margin-right: 5px;
}
.filter-radio-btn::before {
  content:'';
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('../img/catalogue/filter/radio-off.svg');
  margin-right: 5px;
}
.filter-checkbox:not(:disabled) + .filter-checkbox-btn:hover::before,
.filter-radio:not(:disabled) + .filter-radio-btn:hover::before {
  opacity: 0.6;
}
.filter-checkbox:disabled + .filter-checkbox-btn,
.filter-radio:disabled + .filter-radio-btn {
  opacity: 0.25;
}
.filter-checkbox:checked + .filter-checkbox-btn::before {
  width: 27px;
  margin-right: 3px;
  background: url('../img/catalogue/filter/checkbox-on.svg');
}
.filter-radio:checked + .filter-radio-btn::before {
  background: url('../img/catalogue/filter/radio-on.svg');
}


/* catalogue main block */

.catalogue-main-block .catalogue-active-btn {
  opacity: 1;
}

/*sort panel*/
.sort-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
  background: #ebebeb;
}
.sort-panel-header {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 3.2px;
}
.sort-panel li {
  display: inline-block;
}
.sort-btn {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.286;
  text-align: left;
  letter-spacing: 0.252px;
}
.sort-btn {
  opacity: 0.3;
}
.sort-btn.active {
  opacity: 1;
}
.increase-btn,
.decrease-btn {
  font-size: 0;
  display: inline-block;
  width: 11px;
  height: 10px;
}
.increase-btn {
  background: url('../img/catalogue/sort/icon-up-dir.svg');
}
.decrease-btn {
  background: url('../img/catalogue/sort/icon-down-dir.svg');
}
.sort-btn:hover {
  opacity: 0.6;
}
.sort-btn:active {
  opacity: 1;
}

/*catalogue panel*/
.catalogue-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 72px;
}
.item-card {
  flex-basis: 360px;
  margin: 0;
  padding-top: 30px;
  font-size: 0;
}
.item-actions {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 360px;
  background: rgba(238, 238, 238, 0.7);
}
.item-card:hover > img {
  position: absolute;
  z-index: -1;
}
.item-card:hover > .item-actions {
  display: flex;
}
.compare-btn {
  display: block;
  border: none;
  background: none;
  font-size: 13px;
  font-weight: lighter;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.5);
  line-height: 2.769;
  letter-spacing: 0.13px;
}
.compare-btn:hover {
  color: rgb(0, 0, 0);
}
.compare-btn:active {
  color: rgba(0, 0, 0, 0.1);
}
.item-description {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.333;
  letter-spacing: 0.18px;
}
.item-price {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(70, 70, 70);
  line-height: 1.5;
}

/*pagination panel*/
.pagination-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 72px;
  background: #ebebeb;
}
.pagination-panel li {
  display: inline-block;
}
.pagination-btn {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 3.2px;
  font-weight: bold;
}
.pagination-btn:not(.back-forward-btn) {
  opacity: 0.3;
}
.pagination-btn.active {
  opacity: 1;
}
.back-forward-btn:hover {
  background: #d9d9d9;
}
.back-forward-btn:active {
  background: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

/*footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  background: #464646;
}
.footer-col-1 {
  text-align: left;
}
.footer-col-2 {
  text-align: center;
}
.footer-col-3 {
  text-align: right;
}
.page-footer-logo {
  color: #ffc600;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.footer-actions a{
  color: #ffc600;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: lighter;
}
.address,
.phone {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
}
.footer-nav-list li{
  display: inline-block;
}
.footer-nav-btn {
  color: #ffffff;
}
.social-btn-list li {
  display: inline-block;
}
.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  font-size: 0;
}
.social-btn:hover {
  opacity: 0.6;
}
.social-btn:active {
  opacity: 0.1;
}
.facebook-btn {
  background: url('../img/header-footer/facebook.svg') no-repeat;
}
.instagram-btn {
  background: url('../img/header-footer/instagram.svg') no-repeat;
}
.twitter-btn {
  background: url('../img/header-footer/twitter.svg') no-repeat;
}
.htmlacademy-logo {
  display: inline-block;
  width: 27px;
  height: 35px;
  font-size: 0;
  fill: #f7c003;
}
.htmlacademy-logo:hover {
  opacity: 0.6;
}
.htmlacademy-logo:active {
  opacity: 0.3;
}